In [12]:
import selenium
from selenium import webdriver 
import lxml
from bs4 import BeautifulSoup
import html5lib
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import TimeoutException

## 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
def videos(url): # defining videos function
    driver = webdriver.Chrome(r"C:\Users\clear\Desktop\webdriver\chromedriver_win32\chromedriver.exe")# initialze driver
    driver.get(url) # getting url
    soup = BeautifulSoup(driver.page_source, 'lxml') # Preparing soup 
    table = soup.find_all('table') # Identifying tables in soup
    dfs= pd.read_html(str(table)) # Reading html file
    df = pd.DataFrame(dfs[2]) # preparing dataframe with the correct table
    driver.close() # closing driver
    df.drop(['Note','Unnamed: 6'], axis =1, inplace = True) # Droping unwanted columns
    df.drop(labels = 30, axis =0, inplace = True )# Droping unwanted rows
    return(df) # Returining the output


videos('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos') # Calling Function

,No.,Video name,Uploader,Views (billions),Upload date
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.43,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.32,"January 12, 2017"
2,3.,"""Shape of You""[25]",Ed Sheeran,5.29,"January 30, 2017"
3,4.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,5.22,"October 8, 2016"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.08,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.43,"January 31, 2012"
6,7.,"""Uptown Funk""[31]",Mark Ronson,4.16,"November 19, 2014"
7,8.,"""Gangnam Style""[32]",Psy,4.05,"July 15, 2012"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[34]",Miroshka TV,3.96,"February 27, 2018"
9,10.,"""Bath Song""[35]",Cocomelon – Nursery Rhymes,3.94,"May 2, 2018"
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,3.77,"March 6, 2014"
11,12.,"""Sugar""[37]",Maroon 5,3.45,"January 14, 2015"
12,13.,"""Sorry""[38]",Justin Bieber,3.43,"October 22, 2015"
13,14.,"""Roar""[39]",Katy Perry,3.33,"September 5, 2013"
14,15.,"""Dame Tu Cosita""[40]",El Chombo,3.28,"April 5, 2018"
15,16.,"""Counting Stars""[41]",OneRepublic,3.27,"May 31, 2013"
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.24,"October 7, 2014"
17,18.,"""Dark Horse""[43]",Katy Perry,3.05,"February 20, 2014"
18,19.,"""Shake It Off""[44]",Taylor Swift,3.05,"August 18, 2014"
19,20.,"""Faded""[45]",Alan Walker,3.05,"December 3, 2015"
20,21.,"""Lean On""[46]",Major Lazer Official,3.02,"March 22, 2015"
21,22.,"""Bailando""[47]",Enrique Iglesias,3.01,"April 11, 2014"
22,23.,"""Girls Like You""[48]",Maroon 5,3.01,"May 31, 2018"
23,24.,"""Let Her Go""[49]",Passenger,2.97,"July 25, 2012"
24,25.,"""Mi Gente""[50]",J Balvin,2.90,"June 29, 2017"
25,26.,"""Wheels on the Bus""[51]",Cocomelon – Nursery Rhymes,2.88,"May 24, 2018"
26,27.,"""Hello""[52]",Adele,2.83,"October 22, 2015"
27,28.,"""Perfect""[53]",Ed Sheeran,2.82,"November 9, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,2.80,"June 4, 2010"
29,30.,"""Axel F""[55]",Crazy Frog,2.77,"June 16, 2009"

## 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [3]:
def match_fixture(url): # defining function
    #initalizing driver & loading url
    driver = webdriver.Chrome(r"C:\Users\clear\Desktop\webdriver\chromedriver_win32\chromedriver.exe")
    driver.get(url)
    # Getting internation match fixtures page
    driver.get(driver.find_element_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down']").get_attribute('href'))
    # Preparing soup & scraping data
    soup = BeautifulSoup(driver.page_source, 'lxml')
    match_title = [x.text for x in soup.find_all('span',class_ ='u-unskewed-text fixture__format')]
    series = [x.text for x in soup.find_all('span',class_ ='u-unskewed-text fixture__tournament-label u-truncated')]
    place = [x.text for x in soup.find_all('p',class_ ='fixture__additional-info')]
    date = [x.text for x in soup.find_all('span',class_ ='fixture__datetime tablet-only')]
    driver.close()
    # Preparing dataframe & cleaning data
    df= pd.DataFrame({})
    df['match_title']=match_title
    df['series']=series
    df['place1']=place
    df['date1']=date
    dfp = df.place1.str.split('\n',n = 4, expand = True)
    dfp.columns = ['d1','d2','place','df4']
    dfp.drop(['d1','d2','df4'],axis =1,inplace =True)
    dfd= df.date1.str.split('\n',n = 4, expand = True)
    dfd.columns = ['d1','date','time','d3','d4']
    dfd.drop(['d1','d3','d4'],axis =1,inplace =True)
    df = pd.concat([df,dfp,dfd],axis =1)
    df.drop(['place1','date1'], axis =1, inplace = True)
    return(df)


match_fixture('https://www.bcci.tv/') # Calling function

,match_title,series,place,date,time
0,Test,ICC World Test Championship Final,"The Ageas Bowl, Southampton",Friday 18 June,15:30 IST
1,Test,England v India 2021,"Trent Bridge, Nottingham",Wednesday 4 August,15:30 IST
2,Test,England v India 2021,"Lord's, London",Thursday 12 August,15:30 IST
3,Test,England v India 2021,"Headingley, Leeds",Wednesday 25 August,15:30 IST
4,Test,England v India 2021,"The Oval, London",Thursday 2 September,15:30 IST
5,Test,England v India 2021,"Old Trafford, Manchester",Friday 10 September,15:30 IST

## 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [4]:
def exceptions(url):
    driver = webdriver.Chrome(r"C:\Users\clear\Desktop\webdriver\chromedriver_win32\chromedriver.exe")
    driver.get(url)
    driver.find_element_by_xpath("//a[@title='Selenium']").click()
    delay = 10
    WebDriverWait(driver,delay).until(expected_conditions.presence_of_element_located((By.XPATH,"//a[@title='Selenium Exception Handling (Common Exceptions List)']")))
    driver.get(driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']").get_attribute('href'))
    soup = BeautifulSoup(driver.page_source,'lxml')
    tables = soup.find_all('table')
    driver.close()
    dfs = (pd.read_html(str(tables)))
    df = pd.DataFrame(dfs[4])
    return(df.rename(columns=df.iloc[0]).drop(df.index[0]))


exceptions('https://www.guru99.com/')

,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

## 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [39]:
def state_gdp(url):
    driver = webdriver.Chrome(r"C:\Users\clear\Desktop\webdriver\chromedriver_win32\chromedriver.exe")
    driver.get(url)
    driver.get(driver.find_element_by_xpath("//div[@class='dropdown-content']/a[3]").get_attribute('href'))
    driver.get(driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li[1]/a[@class='ec']").get_attribute('href'))
    soup = BeautifulSoup(driver.page_source,'lxml')
    tables = soup.find_all('table')
    dfs = (pd.read_html(str(tables)))
    driver.close()
    df= pd.DataFrame(dfs[1])
    df.drop(['GSDP (Cr INR at 2011-12 prices)'],axis =1, inplace=True)
    df.columns=['Rank','State', 'GSDP(19-20)','GSDP(18-19)','Share(18-19)','GDP($ billion)' ]
    df.drop(labels=33,axis =0, inplace=True)
    return(df)

state_gdp('http://statisticstimes.com/')

C:\Users\clear\anaconda3\lib\site-packages\pandas\core\generic.py:4153: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP($ billion)
0,1.0,Maharashtra,-,2632792,13.88%,398.145
1,2.0,Tamil Nadu,1845853,1630208,8.59%,246.529
2,3.0,Uttar Pradesh,1687818,1584764,8.35%,239.656
3,4.0,Gujarat,-,1502899,7.92%,227.276
4,5.0,Karnataka,1631977,1493127,7.87%,225.798
5,6.0,West Bengal,1253832,1089898,5.75%,164.820
6,7.0,Rajasthan,1020989,942586,4.97%,142.543
7,8.0,Andhra Pradesh,972782,862957,4.55%,130.501
8,9.0,Telangana,969604,861031,4.54%,130.210
9,10.0,Madhya Pradesh,906672,809592,4.27%,122.431
10,11.0,Kerala,-,781653,4.12%,118.206
11,12.0,Delhi,856112,774870,4.08%,117.180
12,13.0,Haryana,831610,734163,3.87%,111.024
13,14.0,Bihar,611804,530363,2.80%,80.204
14,15.0,Punjab,574760,526376,2.77%,79.601
15,16.0,Odisha,521275,487805,2.57%,73.768
16,17.0,Assam,-,315881,1.67%,47.769
17,18.0,Chhattisgarh,329180,304063,1.60%,45.982
18,19.0,Jharkhand,328598,297204,1.57%,44.945
19,20.0,Uttarakhand,-,245895,1.30%,37.186
20,21.0,Jammu & Kashmir,-,155956,0.82%,23.584
21,22.0,Himachal Pradesh,165472,153845,0.81%,23.265
22,23.0,Goa,80449,73170,0.39%,11.065
23,24.0,Tripura,55984,49845,0.26%,7.538
24,25.0,Chandigarh,-,42114,0.22%,6.369
25,26.0,Puducherry,38253,34433,0.18%,5.207
26,27.0,Meghalaya,36572,33481,0.18%,5.063
27,28.0,Sikkim,32496,28723,0.15%,4.344
28,29.0,Manipur,31790,27870,0.15%,4.215
29,30.0,Nagaland,-,27283,0.14%,4.126
30,31.0,Arunachal Pradesh,-,24603,0.13%,3.721
31,32.0,Mizoram,26503,22287,0.12%,3.370
32,33.0,Andaman & Nicobar Islands,-,-,-,-

## 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [63]:
def github(url):
    driver = webdriver.Chrome(r"C:\Users\clear\Desktop\webdriver\chromedriver_win32\chromedriver.exe")
    driver.get(url)
    driver.find_element_by_xpath("//li[4][@class='d-block d-lg-flex flex-lg-nowrap flex-lg-items-center border-bottom border-lg-bottom-0 mr-0 mr-lg-3 edge-item-fix position-relative flex-wrap flex-justify-between d-flex flex-items-center ']/details/summary").click()
    menu=driver.find_elements_by_xpath("//a[@class='py-2 lh-condensed-ultra d-block Link--secondary no-underline f5 Bump-link--hover']")
    links=[]
    for i in menu:
        links.append(i.get_attribute('href'))


    driver.get(links[10])
    soup = BeautifulSoup(driver.page_source,'lxml')
    details = driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
    links_ele=[]
    for i in details:
        links_ele.append(i.get_attribute('href'))

    titles= []
    Repository_description=[]
    Contributors=[]
    Language=[]
    for i in links_ele:
        driver.get(i)
        title= driver.find_elements_by_xpath("//a[@class='url fn']")
        for i in title:
            titles.append(i.text)

        try:
            delay = 2
            WebDriverWait(driver,delay).until(expected_conditions.presence_of_element_located((By.XPATH,"//p[@class='f4 mt-3']")))
            desc= driver.find_elements_by_xpath("//p[@class='f4 mt-3']")
            for i in desc:
                Repository_description.append(i.text)

        except TimeoutException:
            Repository_description.append('-')

        try:
            delay = 2
            WebDriverWait(driver,delay).until(expected_conditions.presence_of_element_located((By.XPATH,"//div[@class='BorderGrid BorderGrid--spacious']/div[5]/div/h2/a/span")))
            contri = driver.find_elements_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[5]/div/h2/a/span")
            for i in contri:
                Contributors.append(i.text)

        except TimeoutException:
            Contributors.append('-')

        Lange=[]
        try:
            delay = 5
            WebDriverWait(driver,delay).until(expected_conditions.presence_of_element_located((By.XPATH,"//div[@class='BorderGrid BorderGrid--spacious']/div[6]/div/ul/li/a/span[1]")))
            lang = driver.find_elements_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[6]/div/ul/li/a/span[1]")
            for i in lang:
                Lange.append(i.text)
        
        except TimeoutException:
            Lange.append('-')
                
        Language.append(Lange)

    driver.close()
    df = pd.DataFrame({})
    df['titles']=titles
    df['Repository_description']=Repository_description
    df['Contributors']=Contributors
    df['Language']=Language
    return(df)

github('https://github.com/')

,titles,Repository_description,Contributors,Language
0,TheAlgorithms,All Algorithms implemented in Python,683,[Python]
1,scala-open-letter,-,-,[-]
2,trekhleb,📝 Algorithms and data structures implemented i...,13,[-]
3,openssl,TLS/SSL and crypto library,567,"[C, Perl, C++, Assembly, Shell, M4]"
4,doocs,😏 LeetCode solutions in any programming langua...,66,"[Java, Python, C#, C++, JavaScript, Go]"
5,Developer-Y,List of Computer Science courses with video le...,43,[-]
6,nextapps-de,WinBox is a professional HTML5 window manager ...,-,[-]
7,golang-standards,Standard Go Project Layout,34,[Makefile]
8,nekohasekai,The universal proxy toolchain for Android.,6,"[Kotlin, Java, C, Makefile]"
9,chrisleekr,Automated Binance trading bot - Buy low/Sell h...,-,[-]
10,johnBuffer,Simple Ants simulator,10,"[C++, CMake, Shell]"
11,UnityTechnologies,Unity Open Project #1: Chop Chop,-,[-]
12,vuetifyjs,🐉 Material Component Framework for Vue,141k,[-]
13,jackfrued,Python - 100天从新手到大师,-,[-]
14,ansible,Ansible is a radically simple IT automation pl...,-,[-]
15,ryanmcdermott,🛁 Clean Code concepts adapted for JavaScript,108,[JavaScript]
16,terraform-providers,Terraform provider for Azure Resource Manager,856,[Go]
17,tuvtran,Curated list of project-based tutorials,64,[-]
18,wuyouzhuguli,循序渐进，学习Spring Boot、Spring Boot & Shiro、Spring ...,2,"[Java, HTML, CSS]"
19,airbus-seclab,A series of posts about QEMU internals,2,[-]
20,pointfreeco,A library for building applications in a consi...,-,[-]
21,Unity-Technologies,Unity Graphics - Including Scriptable Render P...,177,"[C#, HLSL, ShaderLab, GLSL, Mathematica, Python]"
22,tensorflow,An Open Source Machine Learning Framework for ...,"2,973","[C++, Python, MLIR, Starlark, HTML, Go]"
23,acidanthera,OpenCore bootloader,56,"[C, C++, Assembly, Python, Shell, Makefile, Ob..."

## 6. Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [141]:
def songs(url):
    driver=webdriver.Chrome(r"C:\Users\clear\Desktop\webdriver\chromedriver_win32\chromedriver.exe")
    driver.get(url)
    delay = 10
    WebDriverWait(driver,delay).until(expected_conditions.presence_of_element_located((By.XPATH,"//div[@class='sticky header__sticky']/div[2]/header/div/ul/li[1]/a")))
    driver.find_element_by_xpath("//div[@class='sticky header__sticky']/div[2]/header/div/ul/li[1]/a").click()
    driver.get(driver.find_element_by_xpath("//a[@class='charts-landing__link charts-landing__video--background']").get_attribute('href'))
    song_name=[]
    artist=[]
    last_week_rank=[]
    peak_rank=[]
    weeks_on_board=[]

    WebDriverWait(driver,delay).until(expected_conditions.presence_of_element_located((By.XPATH,"//span[@class='chart-element__information']/span[1]")))
    table = driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[1]")
    for i in table:
        song_name.append(i.text)

    table = driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[2]")
    for i in table:
        artist.append(i.text)

    table = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
    for i in table:
        last_week_rank.append(i.text)

    table = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
    for i in table:
        peak_rank.append(i.text)


    table = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
    for i in table:
        weeks_on_board.append(i.text)

    driver.close()
    df = pd.DataFrame({})
    df['song_name']=song_name
    df['artist']=artist
    df['last_week_rank']=last_week_rank
    df['peak_rank']=peak_rank
    df['weeks_on_board']=peak_rank
    return(df)

songs('https://www.billboard.com/')

,song_name,artist,last_week_rank,peak_rank,weeks_on_board
0,Rapstar,Polo G,1,1,1
1,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),3,1,1
2,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,4,1,1
3,Montero (Call Me By Your Name),Lil Nas X,2,1,1
4,Levitating,Dua Lipa Featuring DaBaby,6,5,5
...,...,...,...,...,...
95,Go!,Moneybagg Yo Featuring BIG30,-,96,96
96,Drankin N Smokin,Future & Lil Uzi Vert,-,31,31
97,Monsters,All Time Low Featuring Demi Lovato & blackbear,95,55,55
98,Slatty,Young Thug & Gunna Featuring Yak Gotti & Lil Duke,-,99,99
99,4 Da Gang,42 Dugg & Roddy Ricch,84,67,67

## 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [190]:
def naukri(url):
    driver=webdriver.Chrome(r"C:\Users\clear\Desktop\webdriver\chromedriver_win32\chromedriver.exe")
    driver.get(url)
    delay = 10
    WebDriverWait(driver,delay).until(expected_conditions.presence_of_element_located((By.XPATH,"//a[@title='Search Recruiters']")))
    driver.get(driver.find_element_by_xpath("//a[@title='Search Recruiters']").get_attribute('href'))
    driver.find_element_by_xpath("//input[@class='sugInp']").send_keys('Data Scientist')
    driver.find_element_by_id("qsbFormBtn").click()
    det = [x.text for x in driver.find_elements_by_xpath("//p[@class='highlightable']")]
    skills = [x.text for x in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")]
    driver.close()
    df = pd.DataFrame({})
    df['det']=det
    df['skills']=skills
    dft= df.det.str.split('\n',expand=True)
    dft.columns = ['Name','Designation','Company','Location']
    df = pd.concat([dft,df], axis =1)
    df.drop('det',axis=1,inplace=True)
    return(df)

naukri('https://www.naukri.com/jobs-in-india')

,Name,Designation,Company,Location,skills
0,Tanushree,Lead Recruiter,RecRoots,Noida,"UI Developers, Software Engineers, Quality Ass..."
1,sashi bhushan,Senior Specialist,Wipro,Bengaluru / Bangalore,"pig, hbase, sas, spss, apache, python, nosql, ..."
2,Bitapi,HR and Operation Manager,Anvaya,Bengaluru / Bangalore,"Hadoop, Big Data, Data Scientists, Java, Sprin..."
3,Gajendra Singh,Head of Recruitment - Product &amp;...,A Leading of Product Start-UP Company,Noida,"Data Scientist, Big Data, Hadoop, Web Analytic..."
4,Sadashiv Kulkarni,Company HR,Digitially Insights Pvt Ltd,Pune,"Big Data Engineer, Data Scientist, Solutions, ..."
5,Raily Ghosh,Associate Manager Human Resources,ncyclo Corporation,Hyderabad / Secunderabad,IT / Bi Data Analytics/ Decision Sciences
6,Invelopment,Company HR,Invelopment,Ahmedabad,Scandinavian Startups
7,Anjali Srivastava,Director HR,CodeFire Technologies Pvt. Ltd.,Noida,"Technical, Business Development Executive, Sof..."
8,Anoop Somarajan,Assistant Manager Talent Acquisition,Access Healthcare,Chennai,"Asp.net, Hl7, Mirth, Perl, Xamarin, Javascript..."
9,Helly Vyas,HR Business Partner,AM - TA &amp; HR,Pune,"Big Data technology, PLSQL, Web Developer, Jav..."
10,Ashish Verma,Senior Associate Human Resources,Evalueserve.com Private Limited,Gurgaon,"SAS, VBA, Business Information Services(BIS), ..."
11,Bhuwneshari Devi,Lead Talent Acquisition,Success Pact Consulting,Delhi,"Amazon, Olacabs, Quikr, Bankbazzar, Uber, Flip..."
12,HS Sandesh,Talent Evangelist www staffiohr co,Staffio HR,Bengaluru / Bangalore,"Digital Marketing, General Manager, Business D..."
13,Datafoundry,Company HR,JAITRA SOFTWARE SOLUTIONS PVT LTD,Bengaluru / Bangalore,"Webmethods Developer, Mean Stack, Business Ana..."
14,A Valsa Florina,Recruitment Specialist,Redbus.in,Bengaluru / Bangalore,"Business Analyst, Front end developer, legal, ..."
15,Kalaivani M V,HR Manager,ZYUDLY LABS DATA SOLUTIONS PRIVATE LIMITED,Chennai,"Data Scientist, Cloud Computing, Mobile Applic..."
16,Prashant K,Sr HR,Confidential,Bengaluru / Bangalore,"Data Analyst, Statistical Analysis, Data Scien..."
17,Radhika,HR Associate,Bright Bridge Info-tech Pvt Ltd,Coimbatore,"business analyst - IT (python), pay per click,..."
18,Rakhi,HR recruiter,Constalytics,Singapore - (singapore),"Data Scientist, Data Research Analyst, Big Dat..."
19,Monika Jain,Talent Aquistion Lead,Info Edge India Limited,Noida,"Lamp Developer, Ui/ux Developer, Qa Engineer, ..."
20,Trilok Nath,Senior IT Recruiter,Molveno Consulting Private Limited,Hyderabad / Secunderabad,".Net Developers With Angular Js, Html, Front E..."
21,Sridharan,Company Recruiter Vice President,Aaum Research and Analytics Private Limited,Chennai,"Data Scientist, Developer, Ui, Accounting"
22,Rashmi Kathuria,Talent Acquisition Specialist (Specialized...,Mount Talent consulting,Noida,"Leading MNCs, Product based organizations"
23,Vidya Rani Hadimani,Business Manager Delivery,Talent Management Labs Inc.,Bengaluru / Bangalore,Amazon Walmart Adobe OLA Myntracom Komli Media...
24,Monika Singh Thakur,Technical Recruiter,ValueLabs,Indore,"Big Data Analytics, Marketing Analytics, Full ..."
25,Shikha Bakshi,Senior Manager Recruitment,Fractal Analytics!!,Gurgaon,"Analytics, Big Data, Hadoop, Python"
26,Janhavi Soni,HR Generalist,Vihaa Technologies LLP,Ahmedabad,"C, C++, Unity3d, Core Php, Android Development..."
27,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
28,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Mysoru / Mysore,"Data Analytics, Managed Services, Team Leading..."
29,Ravi,Team HR,Einfluss Teknocommercial Pvt. Ltd.,Ghaziabad,"Deep Learning, Machine Learning, unstructured ..."
30,Vivek Shrivastava,Assistant Manager Human Resources,InnovAccer Management Pvt Ltd,Noida,"Business Analyst, analytics, Decesion Scientis..."
31,Gayathri E,Sr Recruitment,Wonderwrks IT Services Private Limited,Chennai,"IT Infrastructure Management, PHP, Wordpress, ..."
32,Best In Town Analytics,Analytics Associate,BITA,Bengaluru / Bangalore,Data Analytics
33,Santhosh Nagaiah,Chief marketing officer,Tuple Technologies Pte Ltd,None,"Data Science, Project Management, Backend"
34,priyanka,General Manager,Reliance Industries,Mumbai,"Sap, Saas, Sql, Hadoop, Production Planning, B..."
35,Renny Benita K,Operations Manager,DeepIQ Software Solutions Pvt Ltd,Bengaluru / Bangalore,"Core Java, J2ee, Big Data, Machine Learning, D..."
36,Roshan Menugu,Company Recruiter,Cyient Limited,Hyderabad / Secunderabad,Not Specified
37,HR Team,Company HR,Terra Blue Exploration Technologies Pvt....,Bengaluru / Bangalore,Not Specified
38,Jamil Akhtar,Company Recruiter,Quikkloan,Delhi,Not Specified
39,rajesh,HR Executive,quantum value IT services,Bengaluru / Bangalore,"Data Scientist, Tableau, R Tool, Data Analytic..."
40,navya neluri,Data Scientist,asens labs,Hyderabad / Secunderabad,Not Specified
41,Ram Kumar,Data Scientist,Working As A Freelancer,Pune,Not Specified
42,Vanitha Senkurichi,Company HR,Quaero 3 India Ltd,Bengaluru / Bangalore,"sql, Ui Development, ssis, Data Modeling, Data..."
43,Sravan Kumar Ranga,Assistant Manager,GSPANN Technologies,Hyderabad / Secunderabad,"devops, build and release, Delivery Manager, O..."
44,Arya,Human Resources Manager,Arya.ai,Mumbai,"Artificial Intelligence, Deep Learning, Machin..."
45,Blueberry Digital Labs,HR,Blueberry Digital Labs,Hyderabad / Secunderabad,"Node.js, Html, Css, Nosql, Web Designing, Web ..."
46,Ms Uma,Company HR,RenovITe Payment Solutions Pvt ltd,Noida,"java, J2ee, activemq, rest, cassandra, redis, ..."
47,Manoj Kumar Ganesh,Senior HR Associate,Cads Software India,Chennai,"Java, J2EE, Oracle E-business Suite, MS CRM, P..."
48,Kranthi Kumar M,Lead HR Talent Acquisition,PrimEra Medical Technologies Private...,Hyderabad / Secunderabad,"Medical Coders, mbbs, bi, appeals, master data..."
49,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."

## 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [198]:
def books(url):
    driver=webdriver.Chrome(r"C:\Users\clear\Desktop\webdriver\chromedriver_win32\chromedriver.exe")
    driver.get(url)
    soup = BeautifulSoup(driver.page_source,'lxml')
    tables = soup.find_all('table')
    dfs=pd.read_html(str(tables))
    driver.close()
    df = pd.DataFrame(dfs[0])
    return(df)


books('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

,Rank,Title,Author,Volume Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan",5094805,Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.",4475152,Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",4200654,Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",4179479,Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.",3758936,Random House,Romance & Sagas
...,...,...,...,...,...,...
96,97,Happy Days with the Naked Chef,"Oliver, Jamie",794201,Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne",792187,Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave",791507,Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",791095,Penguin,Food & Drink: General
100,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN

## 9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [237]:
def series(url):
    driver=webdriver.Chrome(r"C:\Users\clear\Desktop\webdriver\chromedriver_win32\chromedriver.exe")
    driver.get(url)
    name = [x.text for x in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")]
    year_span= [x.text for x in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")]
    genre = [x.text for x in driver.find_elements_by_xpath("//span[@class='genre']")]
    run_time = [x.text for x in driver.find_elements_by_xpath("//span[@class='runtime']")]
    ratings = [x.text for x in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")]
    votes = [x.text for x in driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[@name='nv']")]
    driver.close()
    df = pd.DataFrame({})
    df['name'] =name 
    df['year_span']=year_span 
    df['genre'] =genre 
    df['run_time'] = run_time
    df['ratings'] =ratings 
    df['votes'] =votes
    return(df)



series('https://www.imdb.com/list/ls095964455/')

,name,year_span,genre,run_time,ratings,votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,800,846"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"846,327"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"867,216"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"259,994"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"220,927"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,185"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,632"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"165,260"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.2,"34,549"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"187,859"

## 10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code

In [436]:
def uci(url):
    driver=webdriver.Chrome(r"C:\Users\clear\Desktop\webdriver\chromedriver_win32\chromedriver.exe")
    driver.get(url)
    time.sleep(3)
    link=[x.get_attribute('href') for x in driver.find_elements_by_xpath("//td/span[@class='whitetext']/a")]
    driver.get(link[4])
    time.sleep(3)
    name = [x.text for x in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td")]
    df = pd.DataFrame({})
    df["Dataset_name"]=name[0::7]
    df['Data_type']=name[1::7]
    df['Task']=name[2::7]
    df['Attribute_type']=name[3::7]
    df['No_of_instances']=name[4::7]
    df['No of attribute']=name[5::7]
    df['Year']=name[6::7]
    df.drop(labels=0,axis =0, inplace =True)
    driver.close()
    return(df)

uci('https://archive.ics.uci.edu/')

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No of attribute,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
5,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
581,Wisesight Sentiment Corpus,"Multivariate, Text",Classification,,26737,4,2020
582,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
583,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
584,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
585,Gait Classification,Multivariate,Classification,Real,48,321,2020